#pip == 22.1.2
#setuptools == 63.2.0
#wheel == 63.2.0
#web3-input-decoder == 0.1.4
#web3 == 5.29.2 # giving error
requests == 2.23.0
eth_abi == 3.0.0
#cryptography == 37.0.2 # giving error
pycryptodome == 3.15.0
